@model IEnumerable<Ehebruch.Models.City>
<select id="sity" name="CityId" class ="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>